.bgLight {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}


.border-white{
    border-width: 12px;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
}



.maxWidth {
    max-width: 500px;
    width: 100%;
}

.red {
    color: #C8242F;
    font-weight: 900;
}

.wh {
    height: 58px;
    width: 272px;
}

.textDark {
    color: #3E3E3E;
}

.roboto {
    font: normal normal 300 40px/47px Roboto;
}

.bgRed {
    background-color: #C8242F;
    font: normal normal medium 18px/24px Roboto;
    color: #FFFFFF;
    opacity: 1;
}

.fp {
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.linkR {
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}

.input-container {
    position: relative;

}

.input-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.input-container label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    color: #999;

    transition: 0.2s ease all;
    background-color: white;
    padding: 0 5px;
}


.input-container input:focus~label,
.input-container input:not(:placeholder-shown)~label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #007bff;
}


.input-container input:focus {
    border-color: #007bff;
}
