/* Navbar */

.bgLight {
  background: #fafafa;
  opacity: 1;
}

.WHimg {
  width: 18px;
  height: 12px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.size1 {
  flex: 1 1 auto;
  min-width: 120px;
  margin-left: 4vw;
}

.size2 {
  flex: 0 0 auto;
  width: 40px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width:992px) {
  .size1 {
    margin-left: 0rem;
  }

  .size2 {
    margin-left: 5px;
    margin-right: 8px;
  }
}


/* dasboard */

/* Sidebar */

.img {
  width: 20px;
  height: 20px;
}

.pm {
  margin: 10px;
  padding: 10px;
}

.lowRed {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

/* Actual Dashboard */

.fontStyle1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.img2 {
  height: 40px;
  width: 40px;
}

.bgWhite {
  background: white;
}

.fontStyle2 {
  text-align: left;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 0px;

  color: #3e3e3e;
  opacity: 1;
}

.customPadding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.fontStyle3 {
  text-align: left;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 0px;

  color: #3e3e3e;
  opacity: 1;
}

.sale {
  text-align: left;
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto;

  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.weekMonth {
  text-align: left;
  font-weight: 200;
  font-size: 12px;
  font-family: Roboto;

  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}

.yearly {
  text-align: left;
  font-weight: 200;
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #c8242f;
  opacity: 1;
}

.sbc {
  font-weight: 300;
  font-size: 22px;
  font-family: Roboto;
  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.round {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 7px;
}

.r {
  background-color: #c8242f;
}

.g {
  background-color: #a2b86c;
}

.o {
  background-color: #f16c20;
}

.y {
  background-color: #ebc844;
}

.country {
  font-weight: 200;
  font-size: 15px;
  font-family: Roboto;
  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.invoice {
  font-weight: 700;
  font-size: 22px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.view {
  font-family: Roboto;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0px;
  color: #c8242f;
  opacity: 1;
}

.tableHead {
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
  opacity: 1;
}

.tableRow {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

#textPaid {
  color: #3cdd5f;
  background-color: #d3edd8;
  padding: 4px 3px;
}

#textFail {
  color: #ff4545;
  background-color: #f1c9c9;
  padding: 4px 3px;
}

#textPending {
  color: #bababa;
  background-color: #edebeb;
  padding: 4px 3px;
}

@media (min-width: 768px) {
  #collapseExample {
    display: block;
  }

  #sidebar-toggle {
    pointer-events: none;
    opacity: 0.5;
  }
}

@media (max-width: 767px) {
  #sidebar-toggle {
    pointer-events: auto;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .bgColor {
    width: 100%;
  }
}


.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice {
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
}

.view {
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #C8242F;
  opacity: 1;
}


@media (max-width: 360px) {
  .detail {
    flex-direction: column;
    align-items: flex-start;
  }

  .invoice {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .view {
    font-size: 12px;
    align-self: flex-end;
  }
}



@media screen and (min-width:1530px) {
  .imgFluid {
    width: 100%;
    height: 320px;
  }
}


@media screen and (max-width:1444px) {
  .imgFluid {
    max-width: 100%;
    height: auto;
  }
}


.red {
  color: #C8242F;
}

